
<html>
<BODY>
<h1>Listing album</h1>


<br />

<!--script>
<iframe id="myIframe" width="1200" ></iframe>
$(document).ready(function() {
  var myIframe = document.getElementById('myIframe');
  var element = myIframe.contentDocument.createElement('script');  
  element.setAttribute('src', '/javascripts/library/jquery/jquery.min.js');  
  myIframe.contentWindow.document.getElementsByTagName('head')[0].appendChild(element);
  $('#myIframe', top.document).load(function() {
    var element = document.getElementById('myIframe').contentDocument.createElement('script');  
    element.setAttribute('src', 'http://localhost:3000/socialfm.js?code=f9317aabc615b22f18f8efd6a3644f5d77514b00');  
    myIframe.contentWindow.document.getElementsByTagName('body')[0].appendChild(element);  
  });
});
</script-->
<!--script src="http://172.16.0.14:3000/socialfm.js?code=d40487959d85912916a2ac1aa857008ab38f2626"  type="text/javascript"></script-->

<!--div><iframe id="toolbar" frameborder="0" scrolling="no" style="position:absolute; bottom:0px; width:100%; border:none; height: 82px; overflow: hidden !important;"></iframe></div>
<script>
(function() { var contents = $('iframe#toolbar').contents(),body = contents.find('body'),jsTag = document.createElement('script');jsTag.src ="http://localhost:3000/socialfm.js?code=f9317aabc615b22f18f8efd6a3644f5d77514b00" ;contents.find('head')[0].appendChild(jsTag);})();
</script-->
<!--script src="http://172.16.0.12:3000/socialfm.js?code=f9317aabc615b22f18f8efd6a3644f5d77514b00" type="text/javascript"></script-->
<!--script src="http://dashboard.socialtools.fm/socialfm.js?code=c6e8113fb51967c02f4ada869959c05986433cea" type="text/javascript"></script-->
<!--script src="http://socialfm.myrorstuff.com/socialfm.js?code=85f229496395bacc42bd290c45ea7c69c35d90e1" type="text/javascript"></script-->
<!--script src="http://172.16.0.15:3001/socialfm.js?code=297903f42789bbc227d73a2f5c2da2d16618be46" type="text/javascript"></script-->

<!--script src="http://localhost:3000/socialfm.js?code=f9317aabc615b22f18f8efd6a3644f5d77514b00" type="text/javascript"></script-->
<!--script src="http://socialfm.myrorstuff.com/socialfm.js?code=f9317aabc615b22f18f8efd6a3644f5d77514b00" type="text/javascript"></script-->
<!--script src="http://172.16.0.12:3000/socialfm.js?code=a0b8eee8165bbeb57625d449b0c7a89c4b2dc79a" type="text/javascript"></script-->

<%#= link_to 'New album', new_album_path %>
<%#= link_to "editt_user",edit_user_registration_path(current_user)%>
</BODY>
</html>
